<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.descubreometepe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DescubreOmetepe">
        <activity android:name=".ActivityMisLugares"></activity>
        <activity android:name=".ActivityAgregarUsuario" />
        <activity android:name=".ActivityRegistrarse" />
        <activity
            android:name=".ActivityAgregarImagen"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ActivityRegistrarLugar"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ActivityInfoLugar2"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_info_lugar2"
            android:theme="@style/Theme.DescubreOmetepe.NoActionBar" />
        <activity
            android:name=".ActivityVerImagen"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ActivityLugares"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/inicializacionTema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>